<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" >
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" > -->
    <link rel="stylesheet" href="{{ url_for('static', filename='tooplate-simply-amazed.css') }}" >
</head>
<body>
    <nav>
        <h1>Dashboard</h1>
        <ul>
            <li>Welcome, {{ g.user['username'] }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>
    </nav>

    <aside>
        <ul>
            <li>Wallet Balance: $100.00</li>
            <li><a href="{{ url_for('dashboard.buy_data') }}">Buy Data</a></li>
            <li><a href="{{ url_for('dashboard.buy_airtime') }}">Buy Airtime</a></li>
            <li><a href="{{ url_for('dashboard.pay_utility') }}">Utility Payment</a></li>
            <li><a href="{{ url_for('dashboard.cable_subscription') }}">Cable Subscription</a></li>
            <li><a href="{{ url_for('dashboard.buy_sell_giftcards') }}">Buy and Sell Gift Cards</a></li>
            <li><a href="{{ url_for('dashboard.fund_wallet_paystack') }}">Fund Wallet with Paystack</a></li>
            <li><a href="{{ url_for('dashboard.fund_wallet_atm') }}">Fund Wallet with ATM</a></li>
        </ul>
    </aside>

    <main>
        <section id="content">
            <h2>Transaction History</h2>
            <!-- Your transaction history goes here -->

            <h2>User Profile</h2>
            <div>
                <p>Name: {{ g.user['username'] }}</p>
                <p>Avatar: <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="Avatar"></p>
                <!--I will use favicon here instead-->
                <p>Settings: <a href="{{ url_for('profile.settings') }}">Update Settings</a></p>
            </div>

            <!-- Forms will be injected here -->
            <div id="form-container"></div>
        </section>
    </main>

